<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
		<title>Useful Linux Commands</title>

		<link rel="shortcut icon" href="/static/favicon/favicon.ico"/>

		<link rel="stylesheet" href="/static/index.css">
		<link rel="stylesheet" href="/static/highlight.js/styles/<%=styles[style]%>.css">

		<!-- boostrap -->
		<link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">

	</head>
	<body class="style-<%=styles[style]%>">
		
		<div class="container">
			<header>
				<h1>Query Command</h1>
				<h2>Useful Linux Commands Query Website</h2>
			</header>

			<div class="row">
				<div class="col-sm-12 clearfix">
					<div class="input-group">
						<input type="text" class="form-control" autofocus 
							id="txtSearchBox"
							placeholder="input any keyword. optional: -f filename, -a lines after count, -b lines before count">
						<span class="input-group-btn">
							<div class="btn-group">
								<button type="button" class="btn btn-secondary">Style: <%=style%></button>
								<button type="button" 
									class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
									data-toggle="dropdown" 
									aria-haspopup="true" 
									aria-expanded="false">
									<span class="sr-only">Toggle Style</span>
								</button>
								<div class="dropdown-menu">
									<% for(var name in styles) { %>
										<a class="dropdown-item" href="?<%=name%>"><%=name%></a>
									<% } %>
								</div>
							</div>
						</span>
					</div>
				<!-- /.col-->
				</div>
			<!-- /.row-->
			</div><br/>

			<div class="row d-flex align-items-stretch" id="rowHelp" style="display: none">
				<div class="col-sm-12 col-md-8 ">
					<div class="card" style="height: 100%">
						<div class="card-block">
							<h4 class="card-title">Query Guide</h4>
							<h6 class="card-subtitle mb-2 text-muted">Query and install automatic scripts</h6>
							<div class="card-text">
								<p><code>-f</code> option:</p>
								<p style="margin-left: 2em;margin-top: -1em">
									<% for(var i in files){ %> <code> <%=files[i]%></code> <%}%>
								</p>
								<p> <code>-a</code> option: <code>5</code> </p>
								<p> <code>-b</code> option: <code>1</code> </p>
							</div>
							<!--<a href="#" class="card-link">Card link</a>
							<a href="#" class="card-link">Another link</a>-->
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-4 ">
					<div class="card">
						<div class="card-block">
							<h4 class="card-title">Installer</h4>
							<h6 class="card-subtitle mb-2 text-muted">Some useful one step installer script</h6>
							<div class="card-text">
								<p>Download and <code>bash <b>${it_name}</b>.sh</code></p>
								<p style="margin-bottom: 0">List:</p>
								<dl>
									<dt><a href="init" target="_blank">init.sh</a></dt>
									<dd>Init software and evironment in a new Linux OS</dd>
									<dt><a href="init" target="_blank">nodejs.sh</a></dt>
									<dd>Install Nodejs , NODE_PATH and pm2 in one step</dd>
								</dl>
							</div>
							<!--<a href="#" class="card-link">Card link</a>
							<a href="#" class="card-link">Another link</a>-->
						</div>
					</div>
				</div>
			<!-- /#rowHelp-->
			</div><br/>
			
			<div id="result-template" style="display: none">
				<div class="row" style="margin-bottom: 1em">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-block">
								<h4 class="card-title">{{ name }}</h4>
								<div class="card-text">
									<pre><code class="bash">{{ content }}</code></pre>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="result" id="blockResult">

			</div>

		<!-- /.container-->
		</div>

		<script src="/static/jquery/jquery.min.js"></script>
		<script src="/static/bootstrap/tether.min.js"></script>
		<script src="/static/bootstrap/bootstrap.min.js"></script>
		<script src="/static/highlight.js/highlight.pack.js"></script>
		<script src="/static/index.js"></script>

	</body>
</html>