server-config-mirror

.git
Dockerfile

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# VS Code
.vscode

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

