#indexGuide {
	$leftWidth: 66.67%;
	$rightWidth: 33.33%;

	display: flex;
	flex-direction: row;


	.left {
		flex: 0 0 $leftWidth;
		max-width: $leftWidth;
		padding: 0 15px 0 0;
	}

	.right {
		flex: 0 0 $rightWidth;
		max-width: $rightWidth;
		padding: 0 0 0 15px;
	}


	@media screen and (max-width: 576px) { // small screen
		flex-direction: column;

		.left, .right {
			max-width: none;
			padding: 15px 0;
		}
	}
}
