$footerLinkColor: #008BCD;

$bgSolarizedLight: #fdf6e3;
$footerBgSolarizedLight: #eee7d5;

$bgGithub: #f8f8f8;
$footerBgGithub: #efefef;

$footerBgGithubGist: #f4f4f4;

$bgSolarizedDark: #002F38;
$bgSolarizedDark2: #003943;
$fgSolarizedDark: #91A09F;
$footerBgSolarizedDark: darken($color: $bgSolarizedDark, $amount: 5%);

html {
	height: 100%;
}
body {
	height: 100%;
    color: #4B4B4B;
	padding-top: 3em;

	p > code, a > code, div > code {
		background: #f9f2f4;
		padding: 2px 4px;
		border-radius: 4px;
	}
}
header{
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;

    h1, h2, h3, h4 {
        font-weight: 300;
    }
    h1 {
        font-size: 320%;
    }
    h2 {
        color: #666;
        font-size: 128%;
    }
}

.style-menu-toggle:focus,
.style-menu-toggle:hover {
	outline: none !important;
	box-shadow: none !important;
	color: inherit !important;
	background-color: inherit !important;
	border-color: inherit !important;
}
#styleDropdown:hover .dropdown-menu {
	display: block;
}
#styleDropdownPopup {
	top: 35px;
}

// =======================
//  For sticky footer
// >>>>>>>>>>>>>>>>>>>>>>>
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.main-container {
	flex: 1 0 auto;
	// grow: 1 for expand it
	// shrink: 0 for shrink container size to default
}
.files-container {
	a {
		color: #e83e8c;
	}
}
.page-footer {
	flex-shrink: 0;

	margin-top: 50px;
	padding-top: 25px;
	padding-bottom: 60px;

	color: #91A09F;

	.github-link {
		text-decoration: none;
	}
	a {
		color: $footerLinkColor;
		&:hover, &:focus {
			color: lighten($color: $footerLinkColor, $amount: 10%);
		}
	}
}
// <<<<<<<<<<<<<<<<<<<<<<<

body.style-solarized-light {
    background-color: $bgSolarizedLight;
    .card {
        background-color: $bgSolarizedLight;
	}
	.page-footer {
		background-color: $footerBgSolarizedLight;
	}
}
body.style-github {
     background-color: $bgGithub;
    .card {
        background-color: $bgGithub;
	}
	.page-footer {
		background-color: $footerBgGithub;
	}
}
body.style-github-gist {
   .page-footer {
	   background-color: $footerBgGithubGist;
   }
}

body.style-solarized-dark {
    color: $fgSolarizedDark;
    background-color: $bgSolarizedDark;
    .card {
        background-color: $bgSolarizedDark;
	}
	.page-footer {
		background-color: $footerBgSolarizedDark;
	}
	input, button, code, input:focus, button:hover {
		color: $fgSolarizedDark;
		background-color: $bgSolarizedDark2;
	}
	.dropdown-menu {
		background-color: $bgSolarizedDark2;
		a {color: $fgSolarizedDark;}
	}
	.github-link img {
		filter: invert(100%);
	}
}


// ===========================
//   Helper classes

$spacer: 1rem;
$spacing: (
	1: 0.25 * $spacer,
	2: 0.5 * $spacer,
	3: 1 * $spacer,
	4: 1.5 * $spacer,
	5: 3 * $spacer,
);

@each $i, $size in $spacing {
	.ml-#{$i}, .mx-#{$i} { margin-left: $size !important; }
	.mr-#{$i}, .mx-#{$i} { margin-right: $size !important; }
	.mt-#{$i}, .my-#{$i} { margin-top: $size !important; }
	.mb-#{$i}, .my-#{$i} { margin-bottom: $size !important; }

	.pl-#{$i}, .px-#{$i} { padding-left: $size !important; }
	.pr-#{$i}, .px-#{$i} { padding-right: $size !important; }
	.pt-#{$i}, .py-#{$i} { padding-top: $size !important; }
	.pb-#{$i}, .py-#{$i} { padding-bottom: $size !important; }
}
